* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    /* font-family: 'Radio Canada', sans-serif; */
    line-height: 1.42857143;

}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
body{
    margin:0px;
    /* overflow: hidden; */
    /* position: relative; */
    box-sizing: border-box;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
header
{    
    margin-top: 0px;
    width: 100%;
    border: 10px solid rgb(176, 156, 156);
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
footer
{    
    /* position:absolute ; */
    /* bottom: 0; */
    margin-bottom: 0px;
    background-color: brown;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(176, 156, 156);

}

.col-white 
{
    color: white;
}

.txt-cen 
{
    text-align: center;
}

.home-intro 
{ 
    padding: 40px 0;
    background-color:#003580;
}

div
{
    display: block;
}


.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fw-bold {
    font-weight: bold;
}

.wave-line
{
    transform: rotate(-180deg);
    margin-top: -2px;
    fill:#003580;
}

.pb-60 
{
    padding-bottom: 60px;
}

.pt-60 
{
    padding-top: 60px;
}

/* .grid
{
    display: grid;
    gap: 50px;
} */

.in-bl
{
    display: inline-block;
}

.option
{
    padding: 50px;
    background-color:#003580;
    margin-top:20px ;
    margin-right: 75px;
    border-radius: 50px;
    transform: scale(1);
    transition: 0.8s;
    box-shadow: 2px 1px 25px 0px rgb(1 1 1 / 75%);
}

a
{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 35px;
    color: #ffffff;    
}

.services i
{
font-size: 100px ;
}

.our-services
{
    margin-bottom: 20px;

}

.our-services h2
{
    font-size:45px;
    color: #000000;
}
 
.option:hover
{
    background-color:#101480;
    /* padding: 60px; */
    transform: scale(1.1);
    box-shadow: 2px 1px 25px 0px rgba(255, 234, 0, 0.559);
}


a:hover
{
   color: #00803e;
}

.features
{
background-color: beige;
margin-top: 50px;
margin-bottom: 20px;
border-radius: 20px;
margin-left: 20px;
margin-right: 20px;
}

.i-features
{   
    display:inline-block ;
    margin: 10px;
    background-color:transparent;
    border-radius:20px ;
    padding: 5px;

}

.h-features i
{   
    font-size: 28px;
    color:#003580;
    font-weight: bold;

}

.i-features i
{   
    font-size: 40px;
    color:#003580;
    margin: 10px;
} 

.i-features:hover
{
    background-color:#307098;
}

.h-features h1
{
    border-bottom:3px #000000 solid ;
}